DJANGO_DEBUG=0
DJANGO_USE_HTTPS=1
DJANGO_ALLOWED_HOSTS=.onrender.com,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://*.onrender.com
CORS_ALLOWED_ORIGINS=https://tu-proyecto.vercel.app

DATABASE_URL=postgresql://usuario:password@host/dbname?sslmode=require
DJANGO_SECRET_KEY=cambia-esto-por-un-secret-key-largo

GUMMY_EFRAIN_PASSWORD=cambia-esta-password
GUMMY_ERIKA_PASSWORD=cambia-esta-password
