POSTGRES_DB=gummy_lovers
POSTGRES_USER=gummy_admin
POSTGRES_PASSWORD=cambia-esto-por-una-password-larga

DJANGO_SECRET_KEY=cambia-esto-por-un-secret-key-largo
DJANGO_DEBUG=0
DJANGO_USE_HTTPS=1

APP_DOMAIN=123.123.123.123.sslip.io
LETSENCRYPT_EMAIL=tu-correo@ejemplo.com

GUMMY_EFRAIN_PASSWORD=cambia-esta-password
GUMMY_ERIKA_PASSWORD=cambia-esta-password

GUNICORN_WORKERS=2
GUNICORN_THREADS=4
GUNICORN_TIMEOUT=120
